td.row-hints {
	text-align: right;
}

td.col-hints {
	vertical-align: bottom;
}

td.cell {
	width: 24px;
	height: 24px;
	border: 1px solid;
}

td.cell-unknown {
	background: white;
}

td.cell-filled {
	background: black;
}

td.cell-empty {
	background: silver;
}

#puzzle-list a {
	margin-right: 10px;
}
